html {
    font-family: 'Times New Roman';
    background-color: #3a506b;
}

#header {
    text-align: center;
    background-color: #1c2541;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    font-size: clamp(12px, 1vw, 50px);
    min-height: 150px;
}

button{
    background-color: #0b132b;
    padding: 10px;
    color: white;
    border-style: solid;
    width: 100px;
    height: 40px;
}

button:hover {
    cursor: pointer;
}

#projects {
    text-align: center;
    background-color: #0b132b;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 80%;
    font-size: clamp(12px, 2vw, 24px);
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightpink;
}

#mainInfo {
    margin-top: 200px;
    margin-right: 15%;
    font-size: clamp(10px, 2vw, 20px);
    line-height: 2.0;
}

#description {
    text-align: center;
    text-decoration: overline;
    text-decoration-color: #0b132b
}

#pHeader {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background-color:#1c2541;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 10px;
    font-size: clamp(16px, 3vw, 24px);
}

#pMain {
    font-size: clamp(12px, 3vw, 24px);
}

img {
    width: 800px;
    height: auto;
}

#rLink {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:#0b132b;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
}

