html {
    font-family: 'Times New Roman';
    background-color: #3a506b;
}

.grid {
    display: grid;
    grid-template-areas: 
        'header header'
        'projects mainInfo';
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #1c2541;
    color: white;
    font-size: clamp(12px, 1vw, 50px);
    padding: 60px;
}

button{
    background-color: #0b132b;
    padding: 10px;
    color: white;
    border-style: solid;
    width: 100px;
    height: 40px;
}

button:hover {
    cursor: pointer;
}

.projects {
    grid-area: projects;
    text-align: center;
    background-color: #0b132b;
    color: white;
    font-size: clamp(12px, 2vw, 24px);
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightpink;
}

.mainInfo {
    grid-area: mainInfo;
    font-size: clamp(10px, 2vw, 20px);
    line-height: 2.0;
    padding: 10px;
}

.description {
    text-align: center;
    text-decoration: overline;
    text-decoration-color: #0b132b
}

.pGrid {
    display: grid;
    grid-template-areas:
        'pHeader pHeader'
        'pMain img';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.pHeader {
    text-align: center;
    background-color:#1c2541;
    font-size: clamp(16px, 3vw, 24px);
    padding: 30px;
    grid-area: pHeader;
}

.pMain {
    font-size: clamp(12px, 3vw, 24px);
    grid-area: pMain;
}

img {
    grid-area: img;
    width: 100%;
    height: auto;
    max-width: 800px;
}

.rLink {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:#0b132b;
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
    padding: 15px;
}

@media (max-width: 412px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "mainInfo"
            "projects";
    }

    .pGrid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "pHeader"
            "img"
            "pMain";
    }
}

